[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/RacconAnalytics/api-gateway.git

[submodule "desktop-frontend"]
	path = desktop-frontend
	url = https://github.com/RacconAnalytics/desktop-frontend.git

[submodule "google-trends-acquisition-service"]
	path = google-trends-acquisition-service
	url = https://github.com/RacconAnalytics/google-trends-acquisition-service.git

[submodule "nlp-service-nvidia"]
	path = nlp-service-nvidia
	url = https://github.com/RacconAnalytics/nlp-service-nvidia.git

[submodule "reverse-proxy"]
	path = reverse-proxy
	url = https://github.com/RacconAnalytics/reverse-proxy.git

[submodule "reverse-proxy-web"]
	path = reverse-proxy-web
	url = https://github.com/RacconAnalytics/reverse-proxy-web.git

[submodule "token-authentication-tester"]
	path = token-authentication-tester
	url = https://github.com/RacconAnalytics/token-authentication-tester.git

[submodule "users-service"]
	path = users-service
	url = https://github.com/RacconAnalytics/users-service.git

[submodule "web-page"]
	path = web-page
	url = https://github.com/RacconAnalytics/web-page.git

[submodule "youtube-acquisition-service"]
	path = youtube-acquisition-service
	url = https://github.com/RacconAnalytics/youtube-acquisition-service.git
